footer{
    margin-top: 5em;
}

.container-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 30, 30);
    height: 50px;
    padding: 1em;
    i{
        color: white;
        width: 2em;
        border: 2px solid white;
        margin: 0.5em;
        padding: 10px;
        border-radius: 10px;
        &:hover{
            filter: drop-shadow(4px 4px 10px $default);
        }
    }

}

.text-footer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 40, 40);
    .text-footer{
        margin: 0.5em;
        padding: 2em;
        color: rgb(141, 141, 141);
        text-align: center;
    }
}

.end-footer-continer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 30, 30);
    .end-footer-text{
        margin: 0.5em;
        color: rgb(141, 141, 141);
        text-align: center;
    }
}